@import "tailwindcss";

@theme {
  --color-sensor-black: #020617;
  --color-sensor-charcoal: #0B1121;
  --color-titanium: #F8FAFC;
  --color-optic-amber: #3B82F6; /* Elektrik Mavisi */
  --color-optic-cyan: #06B6D4;
  --color-tungsten: #1E293B;
}

@layer base {
  html,
  body {
    background-color: var(--color-sensor-black, #020617);
    color: var(--color-titanium, #F8FAFC);
    overscroll-behavior: none;
  }
}

@layer utilities {
  .noise-overlay {
    position: relative;
  }
  
  .noise-overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.05;
    mix-blend-mode: screen;
    z-index: 50;
  }



  .grid-bg {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  }

  .tactile-btn {
    transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .tactile-btn:active {
    transform: scale(0.98);
  }
}
